:root {
  $btn-color: red;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //   outline: 1px solid red;
}
body {
  min-height: 200vh;
}
.container {
  width: 1200px;
}
.mainHero {
  width: 100%;
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/heroBg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  filter: contrast(90%);
  box-shadow: 0 0 5px -2px black;
}

.mainHero__textContainer {
}
